:root {
    --primary-color: black;
    --secondary-color: #2e9cca;
}

html {
    box-sizing: border-box;
    font-size: 6.25%;
    background-color: #1b1b1b;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    min-height: 100vh;
    margin: 0;
    font-size: 14rem;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url("../image/breakfast/background.jpg");
    height: 90vh;
    width: 100%;
}

header .container {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    padding: 0rem 60rem;
    box-sizing: border-box;
    z-index: 1000;
    transition: background 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.nav-scrolled {
    background: #1b1b1b;
}

.header-nav {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    height: 31rem;
    padding-right: 15rem;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 240rem;
}
.nav__list,
.nav__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30rem;
    padding: 0rem;
    list-style: none;
}

.nav__link,
.nav__links {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-size: 0.8vw;
}

.nav__link.active {
    color: rgba(109, 109, 110, 1);
}

.nav__link:hover,
.nav__links:hover {
    color: rgba(109, 109, 110, 1);
}

.nav__info {
    max-width: 500rem;
    position: absolute;
    top: 200rem;
    left: 130rem;
    color: #fff;
    z-index: 1;
}
.nav__info h1 {
    font-size: 3.5vw;
}
.nav__info p {
    font-size: 1vw;
}
.nav__button {
    display: flex;
    margin-top: 30px;
}
.nav__button a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 30rem;
}
.nav__button a:first-child {
    max-height: 100%;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}
.nav__button a:first-child:hover {
    background-color: rgba(255, 255, 255, 1);
    /* transition: background-color 1000ms linear; */
}
.nav__button a:last-child {
    height: 100%;
    width: 40%;
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    margin-left: 20rem;
}
.nav__button a:last-child:hover {
    background-color: rgba(109, 109, 110, 1);
    /* transition: background-color 1000ms linear; */
}
.nav__button a p {
    padding-left: 10px;
    font-size: 20rem;
}

main {
    padding: 0 60rem;
}
main section p {
    color: white;
    font-size: 30rem;
    margin-bottom: 15rem;
}
main section .cover {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20rem;
}
main section .cover img {
    border-radius: 15rem;
    transition: transform 0.2s;
}
main section .cover img:hover {
    transform: scale(1.1);
}

/*                     --------------details------------------          */

.details {
    display: flex;
    padding-top: 200rem;
    justify-content: space-between;
    align-items: center;
}

.details__info {
    display: flex;

    max-width: 60%;
}
.details__info img {
    max-height: 350rem;
    border-radius: 15rem;
    margin-right: 35rem;
}
.details__gernes {
    font-size: 13rem;
}
.details__gernes a {
    text-decoration: none;
    color: #7e7e7e;
    background-color: #0e0e0e;
    padding: 5rem 12rem;
    border-radius: 20rem;
    margin-right: 5rem;
}
.details__info h1 {
    color: white;
    font-size: 50rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
}
.details__release {
    display: flex;
}
.details__release p {
    margin-top: 10rem;
    margin-bottom: 0rem;
    margin-right: 5rem;
    font-size: 15rem;
}
.details__rating {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
}
.details__rating img {
    height: 40rem;
    margin: 0;
    padding: 0;
}
.details__rating p {
    margin-top: 14rem;
    font-size: 17rem;
}
.details__add {
    display: flex;
}
.details__add i {
    margin-top: 25rem;
    padding: 7rem 12rem;
    background-color: beige;
    line-height: 100%;
    border-radius: 7rem;
    display: inline-block;
}
.details__add p {
    margin-top: 32rem;
    margin-left: 20rem;
    font-size: 20rem;
}
.details__desc > p {
    font-size: 15rem;
    color: #8b8b8b;
}
.details__trailer {
    position: relative;
}
.details__trailer button {
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 7rem 15rem;
    background-color: #8b8b8b;
    border: none;
    border-radius: 8rem;
    cursor: pointer;
}
