:root {
    --primary-color: black;
    --secondary-color: #2e9cca;
}

html {
    box-sizing: border-box;
    font-size: 6.25%;
    background-color: #1b1b1b;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    min-height: 100vh;
    margin: 0;
    font-size: 14rem;
}

header .container {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    padding: 0rem 60rem;
    box-sizing: border-box;
    z-index: 1000;
    transition: background 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.nav-scrolled {
    background: #1b1b1b;
}

.header-nav {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    height: 31rem;
    padding-right: 15rem;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 240rem;
}
.nav__list,
.nav__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30rem;
    padding: 0rem;
    list-style: none;
}

.nav__link,
.nav__links {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-size: 0.8vw;
}

.nav__link.active {
    color: rgba(109, 109, 110, 1);
}

.nav__link:hover,
.nav__links:hover {
    color: rgba(109, 109, 110, 1);
}

main {
    padding: 0 60rem;
}

/*                     --------------details------------------          */

.details {
    display: flex;
    padding-top: 150rem;
    justify-content: space-between;
    align-items: center;
}

.details__info {
    display: flex;

    max-width: 50%;
}
.details__info img {
    max-height: 350rem;
    border-radius: 15rem;
    margin-right: 35rem;
}
.details__gernes {
    font-size: 13rem;
}
.details__gernes a {
    text-decoration: none;
    color: #cecece;
    background-color: #0e0e0e;
    padding: 5rem 12rem;
    border-radius: 20rem;
    margin-right: 5rem;
}
.details__info h1 {
    color: white;
    font-size: 50rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
}
.details__release {
    display: flex;
}
.details__release p {
    margin-top: 10rem;
    margin-bottom: 0rem;
    margin-right: 5rem;
    font-size: 15rem;
    color: #ffffff;
}
.details__rating {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
}
.details__rating img {
    height: 40rem;
    margin: 0;
    padding: 0;
}
.details__rating p {
    margin-top: 14rem;
    font-size: 17rem;
    color: white;
}
.details__add {
    display: flex;
}
.details__add i {
    margin-top: 25rem;
    padding: 7rem 12rem;
    background-color: #ffffff;
    line-height: 100%;
    border-radius: 7rem;
    display: inline-block;
    cursor: pointer;
}
.details__add p {
    margin-top: 32rem;
    margin-left: 20rem;
    font-size: 20rem;
    color: white;
}
.details__desc > p {
    font-size: 15rem;
    color: #8b8b8b;
}
.details__trailer {
    position: relative;
}
.details__trailer button {
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 7rem 15rem;
    background-color: #8b8b8b;
    border: none;
    border-radius: 8rem;
    cursor: pointer;
}

.cast__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cast__header > p {
    color: white;
    font-size: 30rem;
    margin-bottom: 15rem;
}
.cast__header .button {
    padding-top: 17rem;
}
.cast__header .button button {
    background: none;
    color: inherit;
    border: none;
    padding: 0 10rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.cast__header .button i {
    line-height: 100%;
    border-radius: 7rem;
    display: inline-block;
    cursor: pointer;
}
.cast .cast__card {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    gap: 0rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.cast .cast__card::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cast .cast__card {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.cast .cast__item {
    position: relative;
    margin: 0;
}
.cast .cast__item img {
    border-radius: 15rem;
    transition: transform 0.2s;
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 0;
    scroll-snap-align: start;
}
.cast .cast__card img:hover {
    transform: scale(1.1);
}
.cast__card .overlay {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0%;
    top: 0%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.cast__item .name {
    font-size: 20rem;
    position: absolute;
    color: rgb(173, 173, 173);
    top: 75%;
    left: 3%;
}
.cast__item .role {
    font-size: 13rem;
    position: absolute;
    color: #fff;
    top: 86%;
    left: 3%;
}
